:root {
    font-size: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 300;
}

input[type="radio"] {
    visibility: hidden;
    height: 0;
}

.slider {
    display: flex;
    position: relative;
    min-height: 30rem;
    background-color: #444;
    max-width: 60vw;
    margin: 0 auto;
    flex-direction: column;
    padding: 1rem;
}

.slider-container {
    display: flex;
    flex: 2 1 auto;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

.slider-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.captions {
    position: relative;
    display: block;
    max-width: 20rem;
    width: 100%;
    overflow: hidden;
}

.captions__holder {
    position: relative;
    display: flex;
    width: 400%;
    transition: all .3s ease-in;
}

.caption {
    width: 25%;
    font-weight: 100;
    letter-spacing: .1rem;
}

.slider-controls {
    display: flex;
    gap: 1rem;
}

label {
    display: flex;
    width: 1.2rem;
    height: 1.2rem;
    background-color: transparent;
    border: .2rem solid cornflowerblue;
    border-radius: 100%;
}

.slide {
    position: relative;
    display: inline-flex;
    flex: 1 1 auto;
    margin: 0 auto;
    background-color: aliceblue;
    min-width: 100%;
    justify-content: center;
    align-items: center;
}

.slider-container .slide_1,
.slider-container .slide_2,
.slider-container .slide_3,
.slider-container .slide_4 {
    transition: all .3s ease-in;
    opacity: 1;
    margin: 0;
}

#slide1:checked~.slider-footer .slider-controls .label1,
#slide2:checked~.slider-footer .slider-controls .label2,
#slide3:checked~.slider-footer .slider-controls .label3,
#slide4:checked~.slider-footer .slider-controls .label4 {
    background-color: cornflowerblue;
}

#slide2:checked~.slider-container .slide_1 {
    margin-left: 0;
    opacity: .85;
}

#slide2:checked~.slider-container .slide_1 {
    margin-left: -100%;
}

#slide3:checked~.slider-container .slide_2 {
    opacity: .85;
}

#slide3:checked~.slider-container .slide_1 {
    margin-left: -200%;
}

#slide4:checked~.slider-container .slide_3 {
    opacity: .85;
}

#slide4:checked~.slider-container .slide_1 {
    margin-left: -300%;
}

#slide1:checked~.slider-footer .captions .captions__holder {
    margin-left: 0%;
}

#slide2:checked~.slider-footer .captions .captions__holder {
    margin-left: -100%;
}

#slide3:checked~.slider-footer .captions .captions__holder {
    margin-left: -200%;
}

#slide4:checked~.slider-footer .captions .captions__holder {
    margin-left: -300%;
}