* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.slider {
    display: flex;
    position: relative;
    min-height: 30rem;
    background-color: #444;
    max-width: 40rem;
    margin: 0 auto;
}